[submodule "3rdParty/imgui-wrapper/imgui"]
	path = 3rdParty/imgui-wrapper/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "3rdParty/spdlog"]
	path = 3rdParty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "3rdParty/glm"]
	path = 3rdParty/glm
	url = git@github.com:g-truc/glm.git
[submodule "3rdParty/glfw"]
	path = 3rdParty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "3rdParty/fmt"]
	path = 3rdParty/fmt
	url = git@github.com:fmtlib/fmt.git
